name: Python flake8 check

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.6
      uses: actions/setup-python@v1
      with:
        python-version: 3.6
    - name: Lint with flake8
      run: |
        pip install flake8
        flake8 . --count --ignore=W504 --max-line-length=100 --show-source --statistics
